.react-datepicker {

	&-wrapper,
	&__input-container input {
		display: block;
	}
}

.only-show-on-print {
	display: none;
	visibility: hidden;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

@media print {
	.do-not-print {
		display: none;
		visibility: hidden;
		height: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	body {
		visibility: hidden;
		height: 0;
	}


	.print {
		display: inline-flex;
		visibility: visible;
		min-width: 200%;
		font-size: 20px !important;
		padding-top: 0px !important;
		margin: 0 !important;
	}

	.printweergave-periode {
		display: inline-flex;
		visibility: visible;
		max-width: 90%;
		font-size: 20px !important;
		margin: 0 !important;
		padding-top: 10px !important;
		padding-bottom: 50px !important;
	}
}

.table-overzicht {
	th {
		border-bottom: rgba(0, 0, 0, 0.349) 2px solid;
		color: rgb(0, 0, 0) !important;
		font-weight: bold !important;
		font-size: medium !important;
	}

	.divider-light {
		border-bottom: rgba(0, 0, 0, 0.45) 1px solid;
	}

	.divider-dark-top {
		border-top: rgba(0, 0, 0, 0.60) 2px solid
	}

	.td-word-wrap {
		// word-wrap: break-word;
		white-space: pre-wrap;
	}
}